.AXIATABOOST {
    background-image: url('../assets/img/checkstand/payType/pay_icon_boost.webp');
}
.MAYBANK {
    background-image: url('../assets/img/checkstand/payType/pay_icon_maybank.webp');
}
.TNG {
    background-image: url('../assets/img/checkstand/payType/pay_icon_touchgo.webp');
}
.GRABPAY {
    background-image: url('../assets/img/checkstand/payType/pay_icon_grabpay.webp');
}
.NET_BANKING {
    background-image: url('../assets/img/checkstand/payType/pay_icon_touchgo@3x.webp');
}
.GOOGLEPAY{
    background-image: url('../assets/img/checkstand/payType/pay_icon_goolglepay.webp');
}